name: 'check'

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  check:
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: 'macos-latest'
            target: 'aarch64-apple-darwin'
            name: 'macos-arm64'
          - platform: 'ubuntu-22.04'
            target: 'x86_64-unknown-linux-gnu'
            name: 'linux-x64'
          - platform: 'windows-latest'
            target: 'x86_64-pc-windows-msvc'
            name: 'windows-x64'
    
    runs-on: ${{ matrix.platform }}
    
    steps:
      - uses: actions/checkout@v4
      
      - name: Install Rust stable
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}
      
      - name: Rust cache
        uses: swatinem/rust-cache@v2
        with:
          key: ${{ matrix.target }}
      
      - name: Check
        run: cargo check --target ${{ matrix.target }}
